* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    width: 70px;
}
nav {
    background-color: #3a5a40;
 }

 .i {
    color: white;
 }

.i:hover {
    color: #f2cc8f;
}

.navbar-toggler{
    color: white;
}
.navbar-toggler-icon {
    color: white;
}